{% extends 'base.html' %}

{% block title %}Home - Carbon Neutrality{% endblock %}

{% block content %}
<!-- Row with left, center, and right columns -->
<div class="row">
    <!-- Left column for the image -->
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='power_plant.jpg') }}" class="img-fluid mb-4 custom-img-size" alt="Power Plant">
        <img src="{{ url_for('static', filename='smoke_stack.jpg') }}" class="img-fluid custom-img-size" alt="Smoke Stack">
    </div>

    <!-- Center column for the text, vertically centered -->
    <div class="col-md-4">
        <div>
            <h1 class="display-3 mb-3">Carbon Neutrality</h1>
            <p>Thailand’s government is focusing on achieving ‘Carbon Neutrality’ across all sectors, with the energy sector being the largest source of carbon dioxide (CO2) emissions, making up about 40% of the total. To reduce emissions, it’s important to analyze how different power plants use various fuels. Increased use of fossil fuels like coal and oil leads to higher emissions, while expanding renewable energy sources such as wind and solar can help lower them.</p>
            <p>By understanding these relationships, the industry can develop effective strategies for carbon neutrality without major disruptions. One practical approach is afforestation, which involves planting trees to absorb CO2. This helps create a more accurate prediction of emissions and supports better decision-making for a sustainable energy future.</p>
        </div>
    </div>

    <!-- Right column for the image -->
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='forest.jpg') }}" class="img-fluid mt-4" alt="Forest">
    </div>
</div>
{% endblock %}
